# Backend (Symfony)
/api/vendor/
/api/var/
/api/.env.local
/api/.env.*.local
/api/config/jwt/*.pem
/api/config/secrets/*/*.php

# Frontend (Nuxt)
/app/node_modules/
/app/.nuxt/
/app/.output/
/app/.data/
/app/dist/
/app/coverage/

# Divers
.DS_Store
*.log
docker-compose.override.yaml

# Playwright (E2E)
/app/test-results/
/app/playwright-report/
